{% extends "base_nav2.html" %}
{% block content %}
<!-- #Header Starts -->
<!-- works -->
<div id="works"  class=" clearfix grid"> 
    <figure class="effect-oscar  wowload fadeIn">
        <img src="/static/images/portfolio/1.jpg" alt="img01"/>
        <figcaption>
            <h2>Ladder Stitch</h2>
            <p>The simplest and quickest stitching technique.<br>
            <a href="/static/assets/content/15/LEARN A SIMPLE LADDER STITCH 15.htm" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="/static/images/portfolio/2f.jpg" alt="img01"/>
        <figcaption>
            <h2>Prepare Coffee</h2>
            <p>Wake up to perfectly brewed mornings.<br>
            <a href="/static/assets/content/15/coffee 15 .htm" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="/static/images/portfolio/fishtail.jpg" alt="img01"/>
        <figcaption>
            <h2>Fishtail hairstyle</h2>
            <p>Time to get a fancy hairstyle.<br>
            <a href="/static/images/portfolio/3.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
        

     
</div>
<!-- works -->
</body>
{% endblock %}
