{% extends "base_nav2.html" %}
{% block content %}
<!-- #Header Starts -->
<!-- works -->
<div id="works"  class=" clearfix grid"> 
    <figure class="effect-oscar  wowload fadeIn">
        <img src="/static/images/portfolio/1.30.jpg" alt="img01"/>
        <figcaption>
            <h2>Bake a sponge cake</h2>
            <p>Learn how to bake a sponge cake the EASY way<br>
            <a href="/static/assets/content/30/How to Make the Perfect Sponge Cake.htm" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/2.30.jpg" alt="img01"/>
        <figcaption>
            <h2>Learn Basic guitar</h2>
            <p>Start learning the basics of the guitar<br>
            <a href="/static/images/portfolio/2.30.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="/static/images/portfolio/3.30.jpg" alt="img01"/>
        <figcaption>
            <h2>Learn basic tennis</h2>
            <p>Get started in learning tennis<br>
            <a href="/static/images/portfolio/3.30.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
        

     
</div>
<!-- works -->
</body>
{% endblock %}
