{% extends "base_nav2.html" %}
{% block content %}
<!-- #Header Starts -->
<!-- works -->
<div id="works"  class=" clearfix grid"> 
    <figure class="effect-oscar  wowload fadeIn">
        <img src="/static/images/portfolio/tie.jpg" alt="img01"/>
        <figcaption>
            <h2>Learn to Tie Knots</h2>
            <p>Be the gentleman with perfect ties.<br>
            <a href="/static/assets/content/5/tie a windsor knot 5 min.htm" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="/static/images/portfolio/extinguisher.jpg" alt="img01"/>
        <figcaption>
            <h2>Extinguish Fire</h2>
            <p>Be safe, learn how to use a Fire Extinguisher.<br>
            <a href="/static/assets/content/5/fire extinguisher 5 min.htm" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="/static/images/portfolio/reset.jpg" alt="img01"/>
        <figcaption>
            <h2>Hard Reset Phone</h2>
            <p>Phone hanging too much? Learn this trick.<br>
            <a href="/static/assets/content/5/wipe android device 5 min.htm" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    

     
</div>
{% endblock %}
