{% extends "base_nav2.html" %}

{% block content %}
<div id="works">
    <form action="{{ url_for('changepassword') }}" method="post" name="Change Nickname">
        {{ form.hidden_tag() }}
    <p>
        Enter Old Password:<br>
        {{ form.old_password }}
        {% for error in form.old_password.errors %}
            <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        Enter New Password:<br>
        {{ form.new_password }}<br>
        {% for error in form.new_password.errors %}
            <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p><input type="submit" value="Change"></p>
    </form>
</div>
{% endblock %}
