{% extends "base_nav2.html" %}
{% block content %}
<!-- #Header Starts -->
<!-- works -->
<div id="works"  class=" clearfix grid"> 
    <figure class="effect-oscar  wowload fadeIn">
        <img src="/static/images/portfolio/php.jpg" alt="img01"/>
        <figcaption>
            <h2></h2>
            <p>The weapon of choice for back-end development<br>
            <a href="https://www.codecademy.com/learn/php" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="/static/images/portfolio/python.jpg" alt="img01"/>
        <figcaption>
            <h2>Python</h2>
            <p>Quick to learn. Easy to use.<br>
            <a href="https://www.learnpython.org/" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="/static/images/portfolio/ruby.jpg" alt="img01"/>
        <figcaption>
            <h2>Ruby</h2>
            <p>The rage of the day. Get a grasp of this rising star today .<br>
            <a href="https://www.codecademy.com/learn/ruby" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
	<figure class="effect-oscar  wowload fadeInUp">
        <img src="/static/images/portfolio/android.jpg" alt="img01"/>
        <figcaption>
            <h2></h2>
            <p>Become an app developer<br>
            <a href="https://www.tutorialspoint.com/android/android_studio.htm.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
	<figure class="effect-oscar  wowload fadeInUp">
        <img src="/static/images/portfolio/web.jpg" alt="img01"/>
        <figcaption>
            <h2>Create a website</h2>
            <p>Start making your own website.<br>
            <a href="http://www.wix.com/" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
	<figure class="effect-oscar  wowload fadeInUp">
        <img src="/static/images/portfolio/java.jpg" alt="img01"/>
        <figcaption>
            <h2></h2>
            <p>Set out on the path to master this powerful, portable OOP based language.<br>
            <a href="https://www.codecademy.com/learn/learn-java" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
        

     
</div>
<!-- works -->
{% endblock %}
