{% extends "base_nav1.html" %}
{% block content %}
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Ed Tech</h1>

			<p><a href="5menu" class="btn btn-custom btn-lg page-scroll">In a hurry, teach me something quick.</a></p>
			<p><a href="15menu" class="btn btn-custom btn-lg page-scroll">I got 15 minutes. No more.</a> </p>
			<p><a href="30menu" class="btn btn-custom btn-lg page-scroll">No rush, I got half an hour!</a> </p>
			<p><a href="imenu" class="btn btn-custom btn-lg page-scroll">Time is no bar. Bombard me with knowledge!</a> </p></div>
			
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
